# IntelliJ IDEA
out/

**/.idea/**/workspace.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

# VS Code
.vscode/

# Executables for C++
*.exe

# Input Files
**/input.txt